/* styles/globals.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'leaflet/dist/leaflet.css';
@import '@changey/react-leaflet-markercluster/dist/styles.min.css';

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.leaflet-container {
	height: 92vh;
	margin: 10px 0px;
	/* border-radius: 2%; */
}

.user-marker {
	border-radius: 50%;
	border: 3px solid #ff0000;
}

.user-marker:hover {
	border: 3px solid rgb(41, 28, 90)000;
	transition-duration: 0.5s;
	transition-delay: 2s;
}

.event-marker {
	border-radius: 50%;
	border: 3px solid #fff;
}

.event-marker:hover {
	border: 5px solid #5e1e1e;
	transition: 0.5s;
}

.visitor-marker {
	border-radius: 50%;
	border: 2px solid #000;
}

.visitor-marker:hover {
	border: 2px solid #5e1e1e;
	transition: 0.5s;
}